body{
    background-color: black;
}



nav{
    display:flex;
    background-color: black;
    align-items: center;
}

nav img{
    width:300px;

}

.nav-bar{
    text-align: left ;
}

.nav-bar ul li{
    margin-right: 12px;
    list-style: none;
    display: inline-block;
}

.nav-bar ul li a {
    font-size: 14px;
    color: #fff;
    

    text-decoration: none;



}

.nav-bar ul :hover{
    transition-duration: 0.5s;
    text-decoration: underline;
    transform: scale(1.1); 
}





/* Movie picture styles */


.Movie-container{
    /* display: flex;
    flex-direction: row;
    flex-wrap:wrap; */

    align-items: center;
    /* background-color: aqua; */

}

.Movie-container h1{
    color:#fff;

}



/* Movies */

#movie{
    display:flex ;
    flex-direction: row;
    margin-right: 10px;

    
    color:#fff;

}



#movie img{
    margin-right: 15px;
    width:100px;

    height:150px;
}


/* tredning movie */

#trending{
    display:flex ;
    flex-direction: row;
    margin-right: 10px;

    
    color:#fff;

}

#trending img{
    margin-right: 15px;
    width:100px;

    height:150px;

}

/* Popular Movies */

#popular{
    display:flex ;
    flex-direction: row;
    margin-right: 10px;

    
    color:#fff;

}

#popular img{
    margin-right: 15px;
    width:100px;

    height:150px;

}

/* TV */

#tv{
    display:flex ;
    flex-direction: row;
    margin-right: 10px;

    
    color:#fff;

}

#tv img{
    margin-right: 15px;
    width:100px;

    height:150px;

}




/* const options = {
    method: 'GET',
    headers: {
      accept: 'application/json',
      Authorization: 'Bearer eyJhbGciOiJIUzI1NiJ9.eyJhdWQiOiJhMDZhNzljNWViODQwZDQwZDlhZDE3NzFmNmM1ZDU3OSIsInN1YiI6IjY1MzZkNGI1YWUzNjY4MDBhZGE3MWNlMSIsInNjb3BlcyI6WyJhcGlfcmVhZCJdLCJ2ZXJzaW9uIjoxfQ.NnQQIWHS_q2aBJi0JeH0VOMrYkdetwc6LozJFvBDZH8'
    }
  };
  
  export {options} */